// @import (css) url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");
@import (css) '../node_modules/maplibre-gl/dist/maplibre-gl.css';
@import (css) '../node_modules/@watergis/maplibre-gl-terradraw/dist/maplibre-gl-terradraw.css';

@green-main: #3cc37e;
@green-dark: #1e392a;
@black-text: #0c0c0c;
@grey-text: #828081;
@yellow-main: #e9c895;

@max-container-width: 90rem;

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Prevent font size inflation */
html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

/* Remove default margin in favour of better control in authored CSS */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin-block-end: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
  list-style: none;
}

body {
  min-height: 100vh;
  background-color: #efefef;
}
