<app-navbar [mode]="navbarMode"></app-navbar>

<hr>

<section class="profile-section">
    <div class="container">
      <!-- Left Column -->
      <div class="left-column">
        <div class="profile-card">
          <div class="profile-image"></div>
          <div class="user-info">
            <div class="user-info-text">
              @if (userProfile$ | async; as user) {
                <h2 class="profile-name">{{ user.firstName }} {{ user.surname }}</h2>
                <p class="profile-email">{{ user.email }}</p>
                <p class="profile-location">
                  {{ user.countryName }}@if (user.city) {, {{ user.city }} }
                </p>
              } @else {
                <nz-skeleton [nzAvatar]="false" [nzParagraph]="{ rows: 3 }"></nz-skeleton>
              }
            </div>
            <div class="friends-count-info">
              @if (userProfile$ | async; as user) {
                <h2>21</h2>
                <p>friends</p>
              } @else {
                <nz-skeleton [nzAvatar]="false" [nzParagraph]="{ rows: 1 }"></nz-skeleton>
              }
            </div>
          </div>
          <div class="profile-buttons">
            @if (userProfile$ | async; as user) {
              @if (isOwnProfile) {
                <button nz-button nzType="primary" class="btn edit-profile-btn">
                  <i nz-icon nzType="edit" nzTheme="outline"></i>
                  Edit Profile
                </button>
              } @else {
                <button nz-button nzType="default" class="btn chat-btn">
                  <i nz-icon nzType="message" nzTheme="outline"></i>
                  Chat
                </button>
                <button nz-button nzType="primary" class="btn add-friend-btn">
                  <i nz-icon nzType="user-add" nzTheme="outline"></i>
                  + Add Friend
                </button>
              }
            } @else {
              <nz-skeleton [nzAvatar]="false" [nzParagraph]="{ rows: 1 }"></nz-skeleton>
            }
          </div>
        </div>
      </div>
    
      <div class="card about-me">
        <h3>About Me</h3>
        <div class="divider"></div>
        @if (userProfile$ | async; as user) {
          <p>
            @if (user.aboutMe) { {{ user.aboutMe }} }
            @else { <i>The user has not provided any description... Message him to find out more!</i> }
          </p>
        } @else {
          <nz-skeleton [nzAvatar]="false" [nzParagraph]="{ rows: 2 }"></nz-skeleton>
        }
      </div>
      <div class="card liked-guides">
        <h3>Guides I Like</h3>
        <div class="divider"></div>
        @if (userProfile$ | async; as user) {
          <app-infinite-guide-list [userId]="user.id"></app-infinite-guide-list>
        } @else {
          <nz-spin nzSimple></nz-spin>
        }
      </div>

      <!-- Right Column -->
      <!-- <div class="right-column">
        <div class="card about-me">
          <h3>About Me</h3>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque
            dignissim, orci et luctus tincidunt, augue eros aliquam nibh, in rutrum
            nisl purus a leo.
          </p>
        </div>
        <div class="card liked-guides">
          <h3>Guides I Like</h3>
          <p>
            Curabitur at elit eget nisi tristique sollicitudin. Aliquam in ultrices
            orci. Maecenas eu felis eu justo consectetur dictum.
          </p>
        </div>
      </div> -->
      <div class="shape shape1"></div>
      <div class="shape shape2"></div>
      <div class="shape shape3"></div>
    </div>

</section>

<app-footer></app-footer>