<app-navbar [navLinks]="navLinks"
navbarClass="navbar user-navbar"></app-navbar>

<hr>

<section class="profile-section">
    <div class="container">
      <!-- Left Column -->
      <div class="left-column">
        <div class="profile-card">
          <div class="profile-image"></div>
          <div class="user-info">
            <div class="user-info-text">
              <h2 class="profile-name">Name Surname</h2>
              <p class="profile-email">name.surnamATgmail.com</p>
              <p class="profile-location">Uzbekistan, Tashkent</p>
            </div>
            <div class="friends-count-info">
              <h2>21</h2>
              <p>Friends</p>
            </div>
          </div>
          <div class="profile-buttons">
            <button nz-button class="btn chat-btn" [nzType]="'default'">
              <nz-icon nzType="message" />
              Chat
            </button>
            <button nz-button class="btn add-friend-btn" [nzType]="'primary'">+ Add Friend</button>
            <!-- <button class="btn chat-btn">Chat</button> -->
            <!-- <button class="btn add-friend-btn">+ Add Friend</button> -->
          </div>
        </div>
      </div>
    
      <div class="card about-me">
        <h3>About Me</h3>
        <div class="divider"></div>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque
          dignissim, orci et luctus tincidunt, augue eros aliquam nibh, in rutrum
          nisl purus a leo.
        </p>
      </div>
      <div class="card liked-guides">
        <h3>Guides I Like</h3>
        <div class="divider"></div>
        <p>
          Curabitur at elit eget nisi tristique sollicitudin. Aliquam in ultrices
          orci. Maecenas eu felis eu justo consectetur dictum.
        </p>
      </div>

      <!-- Right Column -->
      <!-- <div class="right-column">
        <div class="card about-me">
          <h3>About Me</h3>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque
            dignissim, orci et luctus tincidunt, augue eros aliquam nibh, in rutrum
            nisl purus a leo.
          </p>
        </div>
        <div class="card liked-guides">
          <h3>Guides I Like</h3>
          <p>
            Curabitur at elit eget nisi tristique sollicitudin. Aliquam in ultrices
            orci. Maecenas eu felis eu justo consectetur dictum.
          </p>
        </div>
      </div> -->
      <div class="shape shape1"></div>
      <div class="shape shape2"></div>
      <div class="shape shape3"></div>
    </div>

</section>

<app-footer></app-footer>