<app-navbar [mode]="navbarMode"></app-navbar>

<hr />
<section class="login-section">
  <div *ngIf="isSuccess !== null">
    <nz-result
      *ngIf="isSuccess"
      nzStatus="success"
      nzTitle="Password Changed Successfully"
      nzSubTitle="You can now log in with your new password."
    >
    <div nz-result-extra>
      <button nz-button nzType="primary">Go Home</button>
    </div>
    </nz-result>

    <nz-result
      *ngIf="!isSuccess"
      nzStatus="error"
      nzTitle="Error"
      nzSubTitle="{{ errorMessage }}"
    >
      <div nz-result-extra>
        <button nz-button nzType="primary">Try Again</button>
      </div>
    </nz-result>
  </div>

  <!-- Form inputs and submit button -->
  <div *ngIf="isSuccess === null">
    <div class="form-container">
        <h2>Change Password</h2>
        <form
          nz-form
          [formGroup]="validateForm"
          class="login-form"
          (ngSubmit)="submitForm()"
        >
          <nz-form-item>
            <nz-form-label nzSpan="5" nzFor="email">E-mail</nz-form-label>
            <nz-form-control nzSpan="20">
              <!-- <input nz-input formControlName="email" id="email" /> -->
              <nz-input-group nzPrefixIcon="user">
                <input
                  nz-input
                  formControlName="email"
                  id="email"
                  placeholder="eou@gmail.com"
                />
              </nz-input-group>
            </nz-form-control>
          </nz-form-item>
          <nz-form-item>
            <nz-form-label nzSpan="5" nzFor="newPassword">Password</nz-form-label>
            <nz-form-control nzSpan="20" nzErrorTip="Please input your Password!">
              <nz-input-group nzPrefixIcon="lock">
                <input
                  type="password"
                  nz-input
                  formControlName="newPassword"
                  placeholder="PaSsWoRd123!"
                />
              </nz-input-group>
            </nz-form-control>
          </nz-form-item>
          <div class="forgot-password">
            <a routerLink="/forgot-password">Forgot password?</a>
          </div>
          <div class="submit-group">
            <button nz-button class="submit-button" [nzType]="'primary'">
              Log in
            </button>
            <a id="register-button" routerLink="/signup">Register now!</a>
          </div>
        </form>
      </div>
  </div>
  
</section>
